.gameTagBody{
    display: flex;
    margin: auto;
    max-width: 1200px;
    flex-direction: column;
}
.searchBtn{
    font-size: 1.01em;
    background-color: rgba(255, 0, 0, 0.8);
    padding: 0.3em 0.5em;
    margin: 0.2em 0.3em;
    border: 2px black solid;
}
.activeBtn{
    font-size: 1.01em;
    color: red;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.3em 0.5em;
    margin: 0.2em 0.3em;
    border: 2px red solid;
}
.gameList{
    display: flex;
}