.appBody{
    min-height: 100vh;
    width: 100%;
    min-height: 100vh;
    background-image: url("./img/Wallpaper1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.footerArea{
    width: 100%;
    bottom: 0;
}
@media screen and (max-width:500px) {
    .appBody{
        min-width: 100%;
    }
}